<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">News Aggregator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="navbar-nav mr-auto"></div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="User name" aria-label="User name">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="text-center">
        <h1>{{title}}</h1>
    </div>
    <router-outlet></router-outlet>
</div>


